body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5;
    overflow-x: hidden;
}
.main-div{
    height: 100%;
    width: 95%;
    margin: 20px;
    display: flex;
    flex-wrap: nowrap;
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5;
    overflow: hidden;
    
}
.menu-div{
    width: 15%;
    height: 95%;
    align-items: center;
    background-color: #F5F5F5;
    
}
.charts{
    width: 85%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: auto;
    align-content: space-between;
    background-color: #F5F5F5;
}
.candles{
    width: 50%;
    height: 50%;
    
}
.indicator{
    width: 50%;
    height: 50%;
    
}
.indicator2{
    width: 50%;
    height: 100%;
    
}
.volume{
    width: 50%;
    height: 100%;
   
}
.news{  
    margin-top: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 100%;
    background-color: #F5F5F5;
    border: 1px solid #000000;
    text-align: center;
}

h5 {
    margin-left: 5px;
    margin-right: 5px;
}